body {
    font-weight: 900;
    font-family: var(--font);
    color: var(--primary-color);
    background: var(--bg) url('../img/pattern-background-desktop.svg')no-repeat top/100%;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .card {
    max-width: 28rem;
    border-radius: 13px;
    background-color: var(--second-color);
}

.main .container .card p {
    font-weight: 600;
    color: var(--third-color);
}

.main .container .card .img {
    width: 100%;
    border-radius: 13px 13px 0 0;
}

.main .container .card .text {
    text-align: center;
    margin: 2rem 3rem 0 3rem;
}

.main .container .card .text h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.main .container .card .plan {
    padding: 1rem;
    margin: 1.5rem 3rem;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 94%, 0.4);
}

.main .container .card .plan .plan-card {
    gap: 0.8rem;
    display: flex;
}

.main .container .card .plan .plan-card h2 {
    font-size: 1rem;
}

.main .container .card .plan a {
    color: var(--fourth-color);
    text-decoration: underline;
}

.main .container .card .plan a:hover {
    opacity: 0.7;
    text-decoration: none;    
}

.main .container .card .btn {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

.main .container .card .btn .payment {

    border-radius: 8px;
    padding: 0.8rem 6rem;
    color: var(--second-color);
    transition: 0.3s;
    box-shadow: 0 2px 50px var(--third-color);
    background-color: var(--fourth-color);
}

.main .container .card .btn .payment:hover {
    opacity: 0.7;
}

.main .container .card .btn .cancel {
    color: var(--third-color);
}

.main .container .card .btn .cancel:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    body {
        background: var(--bg) url('../img/pattern-background-mobile.svg')no-repeat top/cover;
    }

    ;
}