body {
    font-family: var(--font);
    color: var(--primary-color);
    background: var(--bg) url('../img/pattern-background-desktop.svg')no-repeat top/100%;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .card {
    max-width: 28rem;
    border-radius: 13px;
    background-color: var(--second-color);
}

.main .container .card p {
    color: var(--third-color);
}

.main .container .card .img {
    width: 100%;
    border-radius: 13px 13px 0 0;
}

.main .container .card .text {
    text-align: center;
    margin: 2rem 3rem 0 3rem;
}

.main .container .card .text h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.main .container .card .plan {
    padding: 1rem;
    margin: 1.5rem 3rem;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 94%, 0.4);
}

.main .container .card .plan .plan-card {
    gap: 0.8rem;
    display: flex;
}

.main .container .card .plan h2 {
    font-size: 1rem;
    font-weight: 900;
}

.main .container .card .plan a {
    font-weight: 900;
    color: var(--fourth-color);
    text-decoration: underline;
}

.main .container .card .plan a:hover {
    text-decoration: none;
   color: hsl(245, 75%, 52%, 0.7);
}


@media (max-width: 768px) {
    body {
        background: var(--bg) url('../img/pattern-background-mobile.svg')no-repeat top/cover;
    }

    ;
}